body {
    color: white;
    background-color: rgb(91, 97, 131);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.artist_title
{
    font-size: 40px;
    font-weight: bold;
}

#container
{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#result
{
  color: #000000;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 7%;
}

.artista{
    background-color: rgb(0, 0, 0);

    height: 90vh;
    width: 150vh;
    text-align: center;
    border: 4px;
    border-radius: 7px;
    border-style: solid;
}

.artist_image{
    width: 80%;
    height: 57%;
    border: 16%;
    border-radius: 6px;
    border-collapse: collapse;
    border-style: solid;
}

.player{
    width: 80%;
    height: 60px;
    padding-bottom: 10%;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
  


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #484868;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 96%;
}

.input_calc {
  align-items: center;
  background-clip: padding-box;
  background-color: #8383ad;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 94%;
}

.button-5:hover,
.button-5:focus {
  background-color: #161616;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

#calc_table
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#enter
{
  background-color: #c4993c;

  width: 90%;
}

#del
{
  background-color: #c4573c;

  width: 90%;
}

#operator
{
  background-color: #50728d;
}

#Confirm{
  width: 100%;
}